@model TargetCreateViewModel
@{
    ViewData["Title"] = "Yeni Hedef Ekle";
}

<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("Create","Home")">
            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = Messages.Name })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Url)
                @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @placeholder = Messages.Url })
                @Html.ValidationMessageFor(x => x.Url)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Interval)
                @Html.TextBoxFor(x => x.Interval, new { @type = "number", @min = "1", @class = "form-control numeric-only", @placeholder = $"{Messages.Interval} (dakika)" })
                @Html.ValidationMessageFor(x => x.Interval)
            </div>
            @Html.ValidationSummary(true)
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>