@{
    ViewData["Title"] = "Hedefler";
}

@section Css
{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
}

<div class="row">
    <div class="col-md-12">
        <table id="target-table" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Messages.Name</th>
                    <th scope="col">@Messages.Url</th>
                    <th scope="col">@Messages.Interval</th>
                    <th scope="col">@Messages.Edit</th>
                    <th scope="col">@Messages.Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                Silmeyi Onayla
            </div>
            <div class="modal-body">
                Seçtiğiniz veriyi silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <a class="btn btn-danger btn-ok">Evet</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {

            $("body").on("click", ".confirm-delete", function (e) {
                var url = $(e.currentTarget).data('href');
                var returnUrl = $(e.currentTarget).data('return-url');
                url = url + "&returnUrl=" + returnUrl;
                $("#confirm-delete-modal").find('.btn-ok').attr('href', url);
                $("#confirm-delete-modal").modal('show');
            });

            $('#target-table').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                "ajax": {
                    "url": "/Home/GetTargets",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "url", "name": "url", "autoWidth": true },
                    { "data": "interval", "name": "interval", "autoWidth": true },
                    {
                        "render": function (data, type, row, meta) { return '<a class="btn btn-warning" href="/Home/Update/' + row.id + '">Düzenle</a>'; }
                    },
                    {
                        "render": function (data, type, row, meta) { return '<button class="btn btn-danger confirm-delete" data-href="/Home/Delete?id=' + row.id + '">Sil</button>'; }
                    }
                ]

            });
        });
    </script>
}