@model TargetUpdateViewModel
@{
    ViewData["Title"] = "Hedefler";
}

<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("Update","Home")">
            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = Messages.Name })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Url)
                @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @placeholder = Messages.Url })
                @Html.ValidationMessageFor(x => x.Url)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Interval)
                @Html.TextBoxFor(x => x.Interval, new { @class = "form-control", @placeholder = Messages.Interval })
                @Html.ValidationMessageFor(x => x.Interval)
            </div>
            @Html.ValidationSummary(true)
            <div class="text-right">
                @Html.HiddenFor(x=> x.Id)
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>